* {
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 247, 247);
}


/* Handles Nav + homerow text */
.nav-bar{
    background-color: #2a607c;
    border-style: solid;
    border-color: bisque;
}
h1{
    padding: 5px;
    
}
h2{
    padding: 5px;
}
.menu{
    display:flex;
    list-style-type: none;
    justify-content:space-around;
    font-size: 23px;
}

.menu li a{
    color: black;
}
.menu li a:hover{
    color: white;
}
/* Main */
#container{
    display: flex;
}
/* Left container */
#leftContainer{
    width: 15%;
    display:flex;
    gap:17em;
    flex-direction: column;
    align-items: center;
    border-color: bisque;
    border-style: solid;
}

#leftContainer img{
    display:flex;
    height: 20em;
    width: 100%;
}
#leftContainer div{

    font-size: 2em;
}
/* about me positioning controls */
.abtMe{
    position: relative;
    top: -4em;
    border-bottom: solid;
    
}

.leftTags{
    border-bottom: solid; 
}

#abtMeR{
    position: relative;
    top:-.5em;
    background-color: rgb(162, 202, 202);
}

/* Right container controls */
#rightContainer{
    width: 75%;
    display:flex;
    gap:9em;
    flex-direction: column;
    margin: 1em;
}
#rightContainer img{
    height: 20em;
    width: 100%;
}
#rightContainer div{
    font-size: 1.5em;
}
/* Project Photo Controls */
#mainPhoto{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 5em;
}

#mainPhoto a{
    width: 25%;
}

#captionR {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: -3em;
    left: -3em;
    font-size: 18px;
}

#captionR figcaption{
    background-color:rgb(162, 202, 202) ;
}

/* resume section */
h3{
    text-align: center;
}

#resumeSectR{
    display: flex;
    position: relative;
    top: -7em;
    justify-content: space-evenly;
}
#resumeSectR div li{
font-size: 16px;
}

#resumeSectR div{
    background-color: rgb(162, 202, 202);
}

h3{
    color: white;
    background-color: rgb(0, 0, 0);
}
/* Contact Me */
#contact{
list-style-type: none;
position: relative;
display: flex;
justify-content: space-evenly;
font-size: 30px;
top:-7.5em;
}

#contact a{
    color: blue;
}
