* {
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 247, 247);
}


/* Handles Nav + homerow text */
.nav-bar{
    background-color: #2a607c;
    
}

/* .nav-bar .menu-items{
    display: flex;
} */

/* hamburger menu code */
.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    margin: 0 1rem;
    overflow: hidden; 
}

/* Main */
#container{
    display: flex;
}
/* Left container */
#leftContainer{
    width: 25%;
    display:flex;
    gap:17em;
    flex-direction: column;
    align-items: center;
    border-color:black ;
    border-style:solid;
}

#leftContainer img{
    display:flex;
    height: 20em;
    width: 100%;
}
#leftContainer div{

    font-size: 2em;
}
/* about me positioning controls */
#abtMe{
    position: relative;
    top: -4em;
    
}

#abtMeR{
    position: relative;
    top:-.5em;
}
/* Right container controls */
#rightContainer{
    width: 75%;
    display:flex;
    gap:9em;

    flex-direction: column;
}
#rightContainer img{
    height: 20em;
    width: 100%;
}
#rightContainer div{

    font-size: 1.5em;
    /* text within divs */
}
/* Project Photo Controls */
#mainPhoto{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 5em;
}

#mainPhoto img{
    width: 25%;
}

/* resume section */
h3{
    text-align: center;
}
#resumeSectL{
    position: relative;
    top: 3em;
}
#resumeSectR{
    display: flex;
    position: relative;
    top: -7em;
    justify-content: space-evenly;
}
#resumeSectR div li{
font-size: 16px;
}

/* Contact Me */
#contact{
list-style-type: none;
position: relative;
display: flex;
justify-content: space-evenly;
font-size: 30px;
top:-2em;
}